.box-image {
  box-shadow: 0 2px 70px 0 rgba(161, 161, 161, 0.6);
  border-radius: 4px; }

@media (min-width: 1200px) {
  .text-w-60 {
    width: 60%; } }

.navbar-text {
  margin-right: 0.5rem; }
  @media (min-width: 768px) {
    .navbar-text {
      margin-right: 2rem; } }

.home {
  background-image: url("/images/main-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right; }
  @media (min-width: 992px) {
    .home {
      padding: 2rem; } }
  @media (min-width: 1200px) {
    .home {
      height: 100vh; } }
  @media (min-width: 1920px) {
    .home {
      padding: 2rem 4rem; } }
  .home .container {
    position: relative; }
    @media (min-width: 375px) {
      .home .container {
        padding: 2rem; } }
    @media (min-width: 992px) {
      .home .container {
        padding: 7.5rem 2rem; } }
    @media (min-width: 1200px) {
      .home .container {
        padding: 6rem 2rem; } }
    @media (min-width: 1920px) {
      .home .container {
        padding: 8rem 0; } }
    @media (min-width: 2560px) {
      .home .container {
        padding: 18rem 0; } }
    .home .container .hero {
      flex-direction: column;
      align-items: center; }
      @media (min-width: 768px) {
        .home .container .hero {
          flex-direction: row;
          justify-content: center; } }
      @media (min-width: 1200px) {
        .home .container .hero {
          padding: 0 2rem;
          animation: 1.2s a-up ease-in-out forwards; } }
      .home .container .hero__text {
        z-index: 2; }
        @media (min-width: 768px) {
          .home .container .hero__text {
            width: 60%; } }
        @media (min-width: 1200px) {
          .home .container .hero__text {
            width: 50%; } }
        @media (min-width: 1440px) {
          .home .container .hero__text {
            width: 55%; } }
        @media (min-width: 1920px) {
          .home .container .hero__text {
            width: 65%; } }
        @media (min-width: 2560px) {
          .home .container .hero__text {
            width: 80%; } }
      .home .container .hero__image {
        width: 17.5rem;
        margin-top: 1rem;
        z-index: 1; }
        @media (min-width: 375px) {
          .home .container .hero__image {
            width: 19rem;
            margin-top: 1.5rem; } }
        @media (min-width: 768px) {
          .home .container .hero__image {
            width: 30rem;
            margin: 0 0 0 -5rem; } }
        @media (min-width: 1200px) {
          .home .container .hero__image {
            width: 45rem;
            margin: 0 0 0 -8rem; } }
        @media (min-width: 1440px) {
          .home .container .hero__image {
            width: 55rem; } }
        @media (min-width: 1920px) {
          .home .container .hero__image {
            width: 65rem; } }
        @media (min-width: 2560px) {
          .home .container .hero__image {
            width: 150rem; } }
        .home .container .hero__image img {
          width: 100%; }

.reasons {
  padding-top: 2rem; }
  @media (min-width: 375px) {
    .reasons {
      padding: 2rem; } }
  @media (min-width: 1200px) {
    .reasons {
      padding: 0 4rem 4rem 4rem; } }
  @media (min-width: 1920px) {
    .reasons {
      padding: 0 2rem 4rem 2rem; } }

.services {
  padding-top: 2rem; }
  @media (min-width: 375px) {
    .services {
      padding: 2rem; } }
  @media (min-width: 1200px) {
    .services {
      padding: 4rem; } }
  @media (min-width: 1920px) {
    .services {
      padding: 4rem 2rem; } }
  .services .cards {
    flex-direction: column; }
    @media (min-width: 992px) {
      .services .cards {
        flex-direction: row;
        justify-content: space-between; } }
    .services .cards .card {
      margin: 1rem 0; }
      @media (min-width: 992px) {
        .services .cards .card {
          width: 30%;
          margin: 2rem 0; } }

.info {
  background-image: url("/images/second-wave.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right; }
  @media (min-width: 375px) {
    .info {
      padding: 0 1rem; } }
  @media (min-width: 768px) {
    .info {
      padding: 0 2rem; } }
  @media (min-width: 992px) {
    .info {
      padding: 3rem; } }
  @media (min-width: 1200px) {
    .info {
      padding: 4rem 8rem; } }
  @media (min-width: 1440px) {
    .info {
      padding: 4rem 12rem; } }
  @media (min-width: 2560px) {
    .info {
      padding: 4rem 46rem; } }
  .info .news {
    margin: 4rem 0; }
    @media (min-width: 1200px) {
      .info .news {
        margin: 6rem 0; } }

@media (min-width: 375px) {
  .about {
    padding: 0 2rem; } }

@media (min-width: 1200px) {
  .about {
    padding: 4rem; } }

@media (min-width: 1920px) {
  .about {
    padding: 4rem 1rem; } }

.about .block-item__image {
  margin-top: 2rem; }
  @media (min-width: 992px) {
    .about .block-item__image {
      width: 45%; } }
  .about .block-item__image img {
    width: 100%; }

.block-item {
  flex-direction: column;
  padding-top: 2rem; }
  @media (min-width: 992px) {
    .block-item {
      flex-direction: row;
      justify-content: space-between; } }
  @media (min-width: 992px) {
    .block-item__text {
      width: 50%; } }
  @media (min-width: 1440px) {
    .block-item__text {
      width: 55%; } }
  .block-item__image {
    padding-bottom: 2rem; }
    @media (min-width: 1200px) {
      .block-item__image {
        padding-bottom: 0; } }
    .block-item__image img {
      width: 100%; }

.carousel-inner {
  padding-bottom: 3rem; }

.carousel-indicators > li {
  border-radius: 40%;
  width: 1rem;
  height: 1rem;
  background-color: #4CBAD8; }

@media (min-width: 992px) {
  .carousel-item {
    width: 60%;
    left: 20%; } }

.carousel-item .quate {
  line-height: 1.7; }
  .carousel-item .quate::before {
    content: "\201D";
    color: #4CBAD8;
    font-weight: 700;
    font-size: 1.5rem;
    position: relative;
    top: 2px; }
  .carousel-item .quate::after {
    content: "\201E";
    color: #4CBAD8;
    font-weight: 700;
    font-size: 1.5rem;
    position: relative;
    bottom: 15px; }

.carousel-item img {
  width: 5rem; }

.items {
  display: grid; }
  @media (min-width: 992px) {
    .items {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 1rem; } }
  .items .item {
    border-radius: 4px;
    padding: 2rem;
    margin: 0.5rem 0; }
    @media (min-width: 992px) {
      .items .item {
        padding: 2rem 2.5rem 1rem 2.5rem;
        margin: 0; } }
    .items .item__one {
      background-color: #B4ECDE; }
      @media (min-width: 992px) {
        .items .item__one {
          grid-column: 1;
          grid-row: 1; } }
    .items .item__two {
      background-color: #A0D8EB; }
      @media (min-width: 992px) {
        .items .item__two {
          grid-column: 2;
          grid-row: 1/3; } }
    .items .item__three {
      background-color: #FFDF7F; }
      @media (min-width: 992px) {
        .items .item__three {
          grid-column: 1;
          grid-row: 2/4; } }
    .items .item__four {
      background-color: #F7DFE7; }
      @media (min-width: 992px) {
        .items .item__four {
          grid-column: 2;
          grid-row: 3; } }
    .items .item h3,
    .items .item h5,
    .items .item p,
    .items .item a {
      color: #fff; }

.btn-green {
  background-color: #70D775;
  color: #fff;
  border-radius: 20px;
  padding: 0.4rem 2.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in; }
  .btn-green:hover {
    transform: scale(1.1);
    color: #fff;
    text-decoration: none;
    box-shadow: 0 4px 14px 0 rgba(76, 186, 216, 0.5); }

.btn-blue {
  background-color: #4CBAD8;
  color: #fff;
  border-radius: 50%;
  border: none;
  box-shadow: 0 4px 14px 0 rgba(76, 186, 216, 0.5);
  padding: 0.5rem 0.6rem;
  cursor: pointer;
  transition: all 0.5s ease-in; }
  .btn-blue:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 2px 70px 0 rgba(161, 161, 161, 0.6); }

.social {
  display: none; }
  @media (min-width: 1200px) {
    .social {
      display: flex;
      position: absolute;
      transform: rotate(270deg);
      top: 40vh;
      left: -10rem; } }
  @media (min-width: 1440px) {
    .social {
      left: -15rem; } }
  @media (min-width: 1920px) {
    .social {
      left: -39%; } }
  @media (min-width: 2560px) {
    .social {
      left: -67%; } }
  .social a {
    padding: 0 1rem;
    cursor: pointer;
    color: #333; }
    .social a:hover {
      text-decoration: none; }
  .social .btn-green {
    color: #fff; }

.yellow-bg {
  display: inline-block;
  background-color: #FFDF7F;
  border-radius: 20px;
  padding: 0.4rem 2.5rem; }

@media (min-width: 1200px) {
  #reveal1,
  #reveal2,
  #reveal3,
  #reveal4,
  #reveal5 {
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; } }

@media (min-width: 1200px) {
  #reveal1.visible,
  #reveal2.visible,
  #reveal3.visible,
  #reveal4.visible,
  #reveal5.visible {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

@keyframes a-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 300px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

footer {
  background-image: url("/images/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left; }
  @media (min-width: 992px) {
    footer {
      padding: 2rem; } }
  @media (min-width: 1920px) {
    footer {
      padding: 2rem 4rem; } }
  footer .footer-input {
    margin-bottom: 2rem; }
    footer .footer-input input {
      width: 90%;
      border-radius: 20px;
      padding: 0.7rem 2.5rem;
      border: none; }
      @media (min-width: 768px) {
        footer .footer-input input {
          width: 50%; } }
      @media (min-width: 992px) {
        footer .footer-input input {
          width: 35%; } }
    footer .footer-input .btn-blue {
      margin-left: -3rem;
      padding: 0.5rem 0.7rem; }
  footer .footer-menu {
    padding-bottom: 1rem; }
    footer .footer-menu a {
      color: #333;
      padding-right: 5px; }
  footer .footer-social {
    justify-content: center;
    align-items: center; }
    footer .footer-social img {
      padding-right: 1rem; }
    footer .footer-social p {
      padding-top: 0.8rem; }

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif, sans-serif;
  color: #333;
  font-weight: 400; }
