#reveal1,
#reveal2,
#reveal3,
#reveal4,
#reveal5 {
  @include respond-to("xl") {
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
}
#reveal1.visible,
#reveal2.visible,
#reveal3.visible,
#reveal4.visible,
#reveal5.visible {
  @include respond-to("xl") {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

@keyframes a-up { 
    0% {
      opacity: 0;
      transform: translate3d(0, 300px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}
