.btn-green {
    background-color: $green;
    color: $white-color;
    border-radius: 20px;
    padding: 0.4rem 2.5rem;
    cursor: pointer;
    transition: $transition;
    &:hover {
        transform: scale(1.1);
        color: $white-color;
        text-decoration: none;
        box-shadow:$box-shadow-blue-buttons;
    }
}

.btn-blue {
    background-color: $blue;
    color: $white-color;
    border-radius: 50%;
    box-shadow: $box-shadow-blue-buttons;
    padding: 0.5rem 0.6rem;
    cursor: pointer;
    transition: $transition;
    &:hover {
        color: $white-color;
        text-decoration: none;
        box-shadow: $box-shadow-images;
    }
}


.social {
    display: none;
    @include respond-to("xl") {
        display: flex;
        position: absolute;
        transform: rotate(270deg);
        top: 40vh;
        left: -10rem;
    }
    @include respond-to("hd") {
        left: -15rem;
    }
    @include respond-to("fhd") {
        left: -39%;
    }
    @include respond-to("sfhd") {
        left: -67%;
    }
    a {
        padding: 0 1rem;
        cursor: pointer;
        color: $black-color;
        &:hover {
            text-decoration: none;
        }
    }
    .btn-green {
        color: $white-color;
    }
}

.yellow-bg {
    display: inline-block;
    background-color: $yellow;
    border-radius: 20px;
    padding: 0.4rem 2.5rem;
}

