footer {
  background-image: url("/images/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  @include respond-to("lg") {
    padding: 2rem;
  }
  @include respond-to("fhd") {
    padding: 2rem 4rem;
  }
  .footer-input {
      margin-bottom: 2rem;
    input {
      width: 90%;
      border-radius: 20px;
      padding: 0.7rem 2.5rem;
      border: none;
      @include respond-to("md") {
        width: 50%;
      }
      @include respond-to("lg") {
        width: 35%;
      }
    }
    .btn-blue {
      margin-left: -3rem;
      padding: 0.5rem 0.7rem;
    }
  }
  .footer-menu {
      padding-bottom: 1rem;
      a {
          color: $black-color;
          padding-right: 5px;
      }
  }
  .footer-social {
      justify-content: center;
      align-items: center;
      img {
          padding-right: 1rem;
      }
      p {
          padding-top: 0.8rem;
      }
  }
}
