.items {
  display: grid;
  @include respond-to("lg") {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
  .item {
    border-radius: 4px;
    padding: 2rem;
    margin: 0.5rem 0;
    @include respond-to("lg") {
      padding: 2rem 2.5rem 1rem 2.5rem;
      margin: 0;
    }
    &__one {
      background-color: $light-green;
      @include respond-to("lg") {
        grid-column: 1;
        grid-row: 1;
      }
    }
    &__two {
      background-color: $light-blue;
      @include respond-to("lg") {
        grid-column: 2;
        grid-row: 1/3;
      }
    }
    &__three {
      background-color: $yellow;
      @include respond-to("lg") {
        grid-column: 1;
        grid-row: 2/4;
      }
    }
    &__four {
      background-color: $pink;
      @include respond-to("lg") {
        grid-column: 2;
        grid-row: 3;
      }
    }
    h3,
    h5,
    p,
    a {
      color: $white-color;
    }
  }
}

