.home {
  background-image: url("/images/main-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  @include respond-to("lg") {
    padding: 2rem;
  }
  @include respond-to("xl") {
    height: 100vh;
  }
  @include respond-to("fhd") {
    padding: 2rem 4rem;
  }
  .container {
    position: relative;
    @include respond-to("ssm") {
      padding: 2rem;
    }
    @include respond-to("lg") {
      padding: 7.5rem 2rem;
    }
    @include respond-to("xl") {
      padding: 6rem 2rem;
    }
    @include respond-to("fhd") {
      padding: 8rem 0;
    }
    @include respond-to("sfhd") {
      padding: 18rem 0;
    }
    .hero {
      flex-direction: column;
      align-items: center;
      @include respond-to("md") {
        flex-direction: row;
        justify-content: center;
      }
      @include respond-to("xl") {
        padding: 0 2rem;
        animation: 1.2s a-up ease-in-out forwards;
      }
      &__text {
        z-index: 2;
        @include respond-to("md") {
          width: 60%;
        }
        @include respond-to("xl") {
          width: 50%;
        }
        @include respond-to("hd") {
          width: 55%;
        }
        @include respond-to("fhd") {
          width: 65%;
        }
        @include respond-to("sfhd") {
          width: 80%;
        }
      }
      &__image {
        width: 17.5rem;
        margin-top: 1rem;
        z-index: 1;
        @include respond-to("ssm") {
          width: 19rem;
          margin-top: 1.5rem;
        }
        @include respond-to("md") {
          width: 30rem;
          margin: 0 0 0 -5rem;
        }
        @include respond-to("xl") {
          width: 45rem;
          margin: 0 0 0 -8rem;
        }
        @include respond-to("hd") {
          width: 55rem;
        }
        @include respond-to("fhd") {
          width: 65rem;
        }
        @include respond-to("sfhd") {
          width: 150rem;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}

.reasons{
  padding-top: 2rem;
  @include respond-to("ssm") {
    padding: 2rem;
  }
  @include respond-to("xl") {
    padding: 0 4rem 4rem 4rem;
  }
  @include respond-to("fhd") {
    padding: 0 2rem 4rem 2rem;
  }
}

.services {
  padding-top: 2rem;
  @include respond-to("ssm") {
    padding: 2rem;
  }
  @include respond-to("xl") {
    padding: 4rem;
  }
  @include respond-to("fhd") {
    padding: 4rem 2rem;
  }
  .cards {
    flex-direction: column;
    @include respond-to("lg") {
      flex-direction: row;
      justify-content: space-between;
    }
    .card {
      margin: 1rem 0;
      @include respond-to("lg") {
        width: 30%;
        margin: 2rem 0;
      }
    }
  }
}

.info {
  background-image: url("/images/second-wave.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  @include respond-to("ssm") {
    padding: 0 1rem;
  }
  @include respond-to("md") {
    padding: 0 2rem;
  }
  @include respond-to("lg") {
    padding: 3rem;
  }
  @include respond-to("xl") {
    padding: 4rem 8rem;
  }
  @include respond-to("hd") {
    padding: 4rem 12rem;
  }
  @include respond-to("sfhd") {
    padding: 4rem 46rem;
  }
  .news {
    margin: 4rem 0;
    @include respond-to("xl") {
      margin: 6rem 0;
    }
  }
}

.about {
  @include respond-to("ssm") {
    padding: 0 2rem;
  }
  @include respond-to("xl") {
    padding: 4rem;
  }
  @include respond-to("fhd") {
    padding: 4rem 1rem;
  }
  .block-item__image {
    margin-top: 2rem;
    @include respond-to("lg") {
      width: 45%;
    }
    img {
      width: 100%;
    }
  }
}


